body{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    list-style: none;
}

.animation-link__list{
    width: 600px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-link__item{
    display: inline-block;
}
.animation-link__link{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 25px;
}

.animation-link__link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width .3s;
}
.animation-link__link:hover::after{
    width: 100%;
    transition: width .3s;
}